@font-face {
    font-family: Megatrans;
    src: url('../fonts/MegatransdemoRegular-8M9B0.otf');
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Megatrans, Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 1.5;
}

header {
    width: 100%;
    max-height: 200px;
    border: 5px solid black;
}

.logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 10px;
    margin-left: 10px;
}

.title {
    font-family: Megatrans;
    font-size: 4rem;
    font-weight: 700;
}

.logo {
    width: 70px;
    height: 70px;
}