@font-face {
    font-family: Megatrans;
    src: url('../fonts/MegatransdemoRegular-8M9B0.otf');
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Megatrans, Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 1.5;
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: rgb(128,35,35);
    background: radial-gradient(circle, rgba(128,35,35,1) 0%, rgba(148,233,205,1) 68%, rgba(0,0,0,1) 98%);
    opacity: 0;
    animation: fadeIn 2.5s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

header {
    width: 100%;
    max-height: 200px;
    border: 5px solid black;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 55%, rgba(60,57,57,1) 98%);
}

.logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 10px;
    margin-left: 10px;
}

.title {
    font-family: Megatrans;
    font-size: 4rem;
    font-weight: 700;
}

.logo {
    width: 70px;
    height: 70px;
}

main{
    padding: 1rem;
    margin: 20px auto;
} 

.img-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    border: 2px solid black;
    gap: 5px;
    padding: 10px;
}

.subtitle {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}
.description {
    text-align: justify;
    width: 80%;
    background-color: azure;
    border: 2px solid black;
    padding: 1rem;

}

footer {
    width: 100%;
    max-height: 200px;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,9,121,1) 29%, rgba(69,9,121,1) 89%);
    color: white;
}

.footer-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}